html, body {
  height: 100%;
}

body {
  font: 16px 'Comfortaa', cursive;
  margin: 0;
  color: rgb(251, 243, 36);
}

#page {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgb(37, 57, 64)
}

#message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  max-width: 95%;
  outline: none;
  font-size: 5em;
}

/*#message[contenteditable="true"]:focus {
  border: 1px solid rgb(175, 175, 175);
  padding: 0.3em;
}*/
