body {
}

#page {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgb(37, 57, 64)
}

#message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);;
}
